<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="fon1 fon3">
        <header class="fon1">
            <button class="atuin-btn"><a href="/">Главная страница</a></button>
        </header>
        <form class="fon1 fon2 fon3" method="post" action="/entran">
            <div>
                <div class="fon1 fon3 fon4">
                    <h3>Введите логин и пароль</h3>
                    <input type="text" name="username" placeholder="Логин">
                    <input type="text" name="pasword" placeholder="Пароль">
                </div>
            </div>
            <button class="atuin-btn" type="submit">Вход</button>
        </form>
    </div>  
</body>
<script>    
</script>
</html>