<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="fon1 fon3">
        <div class="fon1 fon2 fon3">
            <h1>Главная страница</h1>
            <h3>Такого пользователя нет</h3>
        </div>
        <div class="fon1">
            <button class="atuin-btn"><a href="/registration">Регистрация</a></button>
            <button class="atuin-btn"><a href="/entranceto">Войти</a></button>
            <form method="post" action="/searchoutput">
                <button class="atuin-btn" type="submit">Показать всех пользователей</button>
            </form>
            <form class="fon5" method="post" action="/search">
                <input type="text" name="tatlname" placeholder="Введите логин пользователя">
                <button class="atuin-btn" type="submit">Поиск</button>
            </form>
        </div>
    </header>  
</body>
<script>    
</script>
</html>