<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="fon1 fon3">
        <header class="fon1">
            <button class="atuin-btn"><a href="/">Главная страница</a></button>
        </header>
        <form class="fon1 fon2 fon3" method="post" action="/registr1">
            <div class="fon1 fon4">
                <div class="fon1 fon3 fon4">
                    <h3>Заполните регистрационные поля</h3>
                    <h3>Не все поля заполнены, заполните все поля</h3>   
                    <input type="text" name="titlname" placeholder="Название тайтла">
                    <input type="text" name="titlsison" placeholder="Просмотреные сезоны">
                    <input type="text" name="titlserial" placeholder="Просмотреные серии">
                    <textarea type="text" name="titltextbox" placeholder="Описание"></textarea>
                </div>
            </div>
            <button class="atuin-btn" type="submit">Регистрация</button>
        </form>
    </div>    
</body>
<script>    
</script>
</html>